* {
  font-family: "Outfit", sans-serif;
}

#wrapper{
  margin-left: auto;
  margin-right: auto;
  margin-top: 240px;
}

body {
  background-color: hsl(217, 54%, 11%);
  /* align-content: center; */
}

a:active, a:link, a:visited{
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

a:hover{
  color:hsl(178, 100%, 50%);
}

.card {
  background-color: hsl(216, 50%, 16%) !important;
  border-radius: 18px !important;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.nft-img-top {
  opacity: 1;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle{
  position: absolute;
  background-color: hsla(178, 100%, 50%, 0.475);
  height: 280px;
  width: 280px;
  border-radius: 7px;
  align-items: center;
  transition: .5s ease;
  opacity: 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.view-nft{
  /* display: none; */
  /* background-color: hsl(178, 100%, 50%); */
  position:absolute;
  top: 43%;
  left: 42%;

}

.nft-body {
  padding: 20px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 18px;
}

.nft-text {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  margin-bottom: 20px;
}

.eth-logo {
  /* margin-bottom: 3.5px; */
  margin-right: 5px;
  margin-bottom: auto;
  margin-top: auto;
}

.nft-price {
  display: inherit;
  margin-top: auto;
  margin-bottom: auto;
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.clock-icon {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}

.nft-expire {
  display: inherit;
  margin-top: auto;
  margin-bottom: auto;
  color: hsl(215, 51%, 70%);
  font-weight: 400;
}

.purchase-info {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 30px;
  margin-bottom: 20px;
}

hr {
  border: 0.25px solid hsla(215, 52%, 70%, 0.105);
  border-radius: 8px;
}

.user-info {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center !important;
}

.user-image {
  height: 11%;
  width: 11%;
  border-radius: 100px;
  border: 1.5px solid hsl(0, 0%, 100%);
  margin-right: 10px;
}

.creation-text {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  margin-right: 3.5px;
  margin-bottom: auto;
  margin-top: auto;
}

.creation-user {
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  margin-bottom: auto;
  margin-top: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.29);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
